{% extends 'home/base.html' %}
{% load static %}
{% block content %}

  <section class="jumbotron text-center" style="background-image:url({% static 'img/home/centro-osakidetza-test-ope.jpg' %})">
  <div class="container">
      <img src="{% static 'img/home/testOsakidetza.png' %}" style="width:100%">
      
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        
        <!--  -->
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img width="100%" src="{% static 'img/home/auxiliarAdministrativoBotonES.png' %}">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">                        
                <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                <img src="{% static 'img/home/miPrevisionBoton.png' %}">
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/administrativoBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/celadorBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/operarioDeServiciosBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/auxiliarDeEnfermeriaBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/enfermeriaBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/medicoDeFamiliaBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/tecnicoDeLaboratorioBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/tecnicoDeRadioBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/fisioterapeutaBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/tecnicoEspecialistaInformaticaBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

        <!--  -->
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img width="100%" src="{% static 'img/home/auxiliarDeFarmaciaBotonES.png' %}">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">                        
                  <img src="{% static 'img/home/testInteligenteBoton.png' %}">
                  <img src="{% static 'img/home/mis50TestDificilesBoton.png' %}">
                  <img src="{% static 'img/home/miPrevisionBoton.png' %}">
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

</main>





{% endblock %}
